@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;

  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  //& replace h1.whatever
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($secondary-color, 2), 0.5);
    backdrop-filter: blur(5px);
    /* width: 50vw; */
  }

  &.handwriting-title-sm {
    font-family: "Liu Jian Mao Cao", cursive;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
  font-family: "Liu Jian Mao Cao", cursive;
  font-size: 9rem;
  position: relative;
  z-index: 1;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $third-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// Style the about page: grid format
#about {
  background-color: darken($primary-color, 9);
  background-image: $background-image-overlay;
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $third-color 10px solid;
    width: 250px;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    backdrop-filter: blur(1.5px);
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: rgba(white, 0.1);
    backdrop-filter: blur(1.5px);
    box-shadow: 8px 15px 25px 3px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    border-radius: 5px;
  }

  hr {
    border: 1px solid gray;
  }

  .info-list {
    padding-left: 20px;
  }
}

// Work/projects page

#work {
  background-color: darken($primary-color, 9);
  background-image: $background-image-overlay;
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  img {
    width: 100%;
    border: 10px #333 solid;
    border-radius: 5px;
  }
}

.item {
  border: 2px solid white;
  background-color: $primary-color;
  padding: 8px;
}

.project-subtitle {
  font-size: 3rem;
  margin: 15px;
}

// Contact page

.contact-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    width: 550px;
  }
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.7rem;

  div {
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 5px;
    margin: 10px;
  }
}

.text-contact {
  color: $third-color;
  font-weight: 800;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 5);
  color: set-text-color($primary-color);
  height: 60px;
}

// Buttons

.btn {
  display: inline-block;
  align-self: center;
  justify-self: center;
  padding: 0.3rem 1.5rem;
  border: 0;
  border-radius: 5px;
  margin-bottom: 0.3rem;
  text-align: center;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($third-color, 5);
  color: #333;
}

//media queries at bottom
@import "mobile";
